.font-bold {
  font-family: 'gotham-bold'; }

.font-medium, body {
  font-family: 'gotham-med'; }

.font-light {
  font-family: 'gotham-light'; }

/*helper*/
.color-blue {
  color: #0D7FCC; }

.color-orange {
  color: #F98D01; }

.list-unstyled {
  list-style: none;
  padding-left: 0; }

.text-sm {
  font-size: 13px;
  line-height: 20px; }

.text-xs {
  font-size: 11px;
  line-height: 18px; }

.text-muted {
  color: rgba(114, 114, 114, 0.6); }

.text-small {
  font-size: 12px;
  line-height: 19px; }

.clear:after, .clear:before {
  clear: both;
  display: block; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.noscroll {
  overflow: hidden !important; }

.nofont {
  font-size: 0; }

.fontinit {
  font-size: initial; }

.hidden {
  display: none !important; }

.c-pointer {
  cursor: pointer; }

.c-hover:hover, .c-hover:focus {
  background-color: #727272; }
  .c-hover:hover svg path, .c-hover:focus svg path {
    fill: #4d4d4d; }
.c-hover:active {
  background-color: #6a6a6a; }
.c-hover._dark:hover, .c-hover._dark:focus {
  background-color: rgba(0, 0, 0, 0.8); }
  .c-hover._dark:hover svg path, .c-hover._dark:focus svg path {
    fill: #4d4d4d; }
.c-hover._dark:active {
  background-color: rgba(0, 0, 0, 0.9); }

/*<mixin>*/
@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*<mixin>*/
/*<reset-class>*/
input:hover, input:focus, input:focus:active, button:hover, button:focus, button:focus:active, .form-control:hover, .form-control:focus, .form-control:focus:active, .btn:hover, .btn:focus, .btn:focus:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none; }

/*</reset-class>*/
/*<helper-class>*/
.v-mid {
  vertical-align: middle !important; }

.v-top {
  vertical-align: top !important; }

.v-bow {
  vertical-align: bottom !important; }

.playfair, .tag-title._section ._title {
  font-family: "Playfair Display",Helvetica Neue,Arial,sans-serif; }

.bg-dark {
  background-color: #333333;
  color: #fff; }

.form-control {
  font-weight: 400; }
  .form-control::-webkit-input-placeholder {
    color: #9B9B9B; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #9B9B9B; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #9B9B9B; }
  .form-control:-ms-input-placeholder {
    color: #9B9B9B; }

.capsme {
  text-transform: capitalize; }

.upperme {
  text-transform: uppercase; }

.center-block {
  margin-left: auto !important;
  margin-right: auto !important; }

.d-block {
  display: block !important; }

.d-iblock {
  display: inline-block !important; }

.y-space._pad30 {
  padding-top: 30px;
  padding-bottom: 30px; }
.y-space._pad50 {
  padding-top: 50px;
  padding-bottom: 50px; }
.y-space._pad100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.nopad {
  padding: 0 !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.upperme {
  text-transform: uppercase; }

a .title {
  color: #000; }

.title {
  color: #333333; }

.sub-title {
  color: #bfbfbf; }

.title-h {
  margin: initial; }

.tag-title ._title {
  margin: initial;
  font-weight: normal; }
.tag-title._section ._title {
  font-weight: bold;
  color: #cc0000;
  font-size: 50px;
  line-height: 40px;
  margin-top: 0; }
.tag-title._section ._sub {
  color: #0D7FCC;
  font-size: 28px;
  line-height: 40px;
  font-weight: 300;
  font-style: italic; }

.table-view {
  display: table;
  width: 100%; }
  .table-view .table-cell {
    display: table-cell;
    float: none; }

.btn {
  padding: 8px 16px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 600;
  background-color: #333333;
  font-family: 'opensans'; }
  .btn.btn-lg {
    padding: 15px 25px;
    font-size: 18px; }
  .btn.btn-block {
    display: block;
    width: 100%; }
  .btn.bg-orange {
    -webkit-box-shadow: 0 0 15px 0px rgba(249, 141, 1, 0.6);
    box-shadow: 0 0 15px 0px rgba(249, 141, 1, 0.6);
    -moz-box-shadow: 0 0 15px 0px rgba(249, 141, 1, 0.6); }

.bg-blue {
  background-color: #0D7FCC; }

.bg-orange {
  background-color: #F98D01; }

.bg-red {
  background-color: red; }

.cont {
  width: auto;
  margin: 0 auto;
  padding: 0 16px;
  display: inline-block;
  width: 100%; }
  @media (min-width: 1200px) {
    .cont {
      width: 1024px; } }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
  /* column-space */ }

.row {
  margin: 0 -16px; }
  .row:after, .row:before {
    content: "";
    clear: both;
    display: block; }

.col-m12 {
  width: 100%; }

.col-m11 {
  width: 91.66666667%; }

.col-m10 {
  width: 83.33333333%; }

.col-m9 {
  width: 75%; }

.col-m8 {
  width: 66.66666667%; }

.col-m7 {
  width: 58.33333333%; }

.col-m6 {
  width: 50%; }

.col-m5 {
  width: 41.66666667%; }

.col-m4 {
  width: 33.33333333%; }

.col-m3 {
  width: 25%; }

.col-m2 {
  width: 16.66666667%; }

.col-m1 {
  width: 8.33333333%; }

.col-offset-m12 {
  margin-left: 100%; }

.col-offset-m11 {
  margin-left: 91.66666667%; }

.col-offset-m10 {
  margin-left: 83.33333333%; }

.col-offset-m9 {
  margin-left: 75%; }

.col-offset-m8 {
  margin-left: 66.66666667%; }

.col-offset-m7 {
  margin-left: 58.33333333%; }

.col-offset-m6 {
  margin-left: 50%; }

.col-offset-m5 {
  margin-left: 41.66666667%; }

.col-offset-m4 {
  margin-left: 33.33333333%; }

.col-offset-m3 {
  margin-left: 25%; }

.col-offset-m2 {
  margin-left: 16.66666667%; }

.col-offset-m1 {
  margin-left: 8.33333333%; }

.col-offset-m0 {
  margin-left: 0; }

@media (max-width: 480px) {
  .col-xs12 {
    width: 100%; }

  .col-xs11 {
    width: 91.66666667%; }

  .col-xs10 {
    width: 83.33333333%; }

  .col-xs9 {
    width: 75%; }

  .col-xs8 {
    width: 66.66666667%; }

  .col-xs7 {
    width: 58.33333333%; }

  .col-xs6 {
    width: 50%; }

  .col-xs5 {
    width: 41.66666667%; }

  .col-xs4 {
    width: 33.33333333%; }

  .col-xs3 {
    width: 25%; }

  .col-xs2 {
    width: 16.66666667%; }

  .col-xs1 {
    width: 8.33333333%; }

  .col-offset-xs12 {
    margin-left: 100%; }

  .col-offset-xs11 {
    margin-left: 91.66666667%; }

  .col-offset-xs10 {
    margin-left: 83.33333333%; }

  .col-offset-xs9 {
    margin-left: 75%; }

  .col-offset-xs8 {
    margin-left: 66.66666667%; }

  .col-offset-xs7 {
    margin-left: 58.33333333%; }

  .col-offset-xs6 {
    margin-left: 50%; }

  .col-offset-xs5 {
    margin-left: 41.66666667%; }

  .col-offset-xs4 {
    margin-left: 33.33333333%; }

  .col-offset-xs3 {
    margin-left: 25%; }

  .col-offset-xs2 {
    margin-left: 16.66666667%; }

  .col-offset-xs1 {
    margin-left: 8.33333333%; }

  .col-offset-xs0 {
    margin-left: 0; } }
.catalog-detail > p {
  margin: initial; }
.catalog-detail .title {
  margin-top: 0; }
.catalog-detail .action small {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  color: #333333; }
.catalog-detail .action .price {
  font-size: 21px;
  line-height: 29px;
  margin: 0;
  font-weight: 600; }
.catalog-detail .desc {
  color: #727272;
  font-size: 14px;
  line-height: 20px;
  font-family: 'opensans'; }
.catalog-detail .rate {
  font-size: 0; }
  .catalog-detail .rate span {
    display: inline-block;
    font-size: 12px;
    line-height: 19px;
    font-weight: 600; }
    .catalog-detail .rate span + span {
      margin-left: 16px; }
    .catalog-detail .rate span .fa {
      margin-right: 5px; }

.modal-backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: visible;
  top: 0;
  left: 0;
  z-index: 5; }

.modal-widget {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto; }
  .modal-widget .modal-content {
    text-align: initial;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: 10vh auto 30px;
    background-color: #fff;
    position: relative;
    padding: 40px 0;
    width: 80%;
    min-height: 100px;
    display: inline-block; }
    @media (max-width: 480px) {
      .modal-widget .modal-content {
        width: 90%; } }
    .modal-widget .modal-content .section-row {
      margin: 30px 0; }
      .modal-widget .modal-content .section-row > li {
        display: table;
        width: 100%;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        padding-bottom: 15px;
        margin-bottom: 15px; }

.modal-content.w-image {
  position: relative;
  padding-left: 300px; }
  .modal-content.w-image .img-cover {
    background-color: #333333;
    height: 100%;
    width: 300px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
.modal-content .media-section {
  padding-top: 20px; }
.modal-content .catalog-detail {
  padding: 0 36px; }
.modal-content .catalog-tile .media {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px; }

.panel-option .tab-head {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
  .panel-option .tab-head span {
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer; }
    .panel-option .tab-head span.active {
      color: rgba(0, 0, 0, 0.6); }
      .panel-option .tab-head span.active:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #F98D01;
        display: block;
        bottom: -2px; }
    .panel-option .tab-head span + span {
      margin-left: 15px; }
.panel-option .tab-body .tab-pane {
  padding-top: 15px;
  display: none; }
  .panel-option .tab-body .tab-pane.active {
    display: block; }

body {
  margin: 0;
  color: #727272;
  background-color: #EEEEEE;
  font-size: 14px;
  line-height: 21px;
  font-family: 'opensans'; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul.list._plus {
  padding-left: 30px;
  list-style: none; }
  ul.list._plus li {
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    line-height: 20px;
    margin-bottom: 3px;
    margin-bottom: 3px; }
    ul.list._plus li:last-child {
      margin-bottom: 0; }
    ul.list._plus li:before {
      content: "";
      background-image: url(../img/check.svg);
      background-size: 15px;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      background-position: center;
      display: inline-block;
      left: -30px;
      position: absolute; }

.color-picker .color-dot {
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
  line-height: 0; }
  .color-picker .color-dot + .color-dot {
    margin-left: 3px; }
  .color-picker .color-dot input {
    margin: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    height: 12px;
    width: 12px;
    border: solid 2px #F5F5F5;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative; }
    .color-picker .color-dot input:checked {
      height: 18px;
      width: 18px;
      border: none;
      background-color: rgba(0, 0, 0, 0.2); }
      .color-picker .color-dot input:checked:before {
        position: absolute;
        left: 4px;
        top: 4px;
        content: "\f00c";
        color: #fff;
        line-height: 14px;
        font: normal normal normal 10px/1 FontAwesome; }

.toggle-component .toggle-slide.content {
  display: none;
  padding-top: 16px; }
.toggle-component .head {
  cursor: pointer;
  display: table;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 16px;
  color: #0D7FCC; }
  .toggle-component .head span {
    display: inline-block;
    float: left;
    font-size: 14px;
    line-he: 21px; }
  .toggle-component .head .fa {
    display: inline-block;
    line-height: 21px;
    float: right; }
  .toggle-component .head:after, .toggle-component .head:before {
    display: block;
    clear: both;
    width: 100%; }

/*# sourceMappingURL=main.css.map */
