@import 'fonts';
@import 'misc';
@import 'container';
@import 'catalog';
@import 'modal';
@import 'tab-option';
body {
  margin: 0;
  color:$grey;
  background-color: #EEEEEE;
  @extend .font-medium;
  font-size: 14px;
  line-height: 21px;
  font-family: 'opensans';
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.list {
  &._plus {
    padding-left: 30px;
    list-style: none;
    li {
      color:fade-out(#000, 0.6);
      position: relative;
      line-height: 20px;
      margin-bottom: 3px;
      margin-bottom: 3px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: "";
          background-image: url(../img/check.svg);
          background-size: 15px;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          background-position: center;
          display: inline-block;
          left: -30px;
          position: absolute;
        }
    }
  }
}

.color-picker {
  .color-dot {
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
    line-height:0;

      &+.color-dot {
        margin-left: 3px;
      }
      input {
        margin: 0;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance:none;
        appearance:none;
        display: inline-block;
        height: 12px;
        width: 12px;
        border:solid 2px #F5F5F5;
        @include border-radius(14px);
        background-color: fade-out(#000, 0.6);
        position: relative;
          &:checked {
            height: 18px;
            width: 18px;
            border:none;
            background-color: fade-out(#000, 0.8);
              &:before {
                position: absolute;
                left: 4px;
                top: 4px;
                content: "\f00c";
                color: #fff;
                line-height: 14px;
                font: normal normal normal 10px/1 FontAwesome;
              }
          }
      }
  }
}

.toggle-component {
  .toggle-slide.content {
    display: none;
    padding-top: 16px;
  }
  .head {
    cursor: pointer;
    display: table;
    width:100%;
    border-bottom: 1px solid lighten($grey,45%);
    padding-bottom: 16px;
    color:$secondary;
    span {
      display:inline-block;
      float: left;
      font-size: 14px;
      line-he: 21px;
    }
    .fa {
      display: inline-block;
      line-height: 21px;
      float: right;
    }
    &:after,&:before {
      display: block;
      clear: both;
      width: 100%;
    }
  }
}
